.nombre {
position: relative;
padding-left: 20px;
}
.botones {
    padding-right: 20px;
}
.chat {
    padding-left: 20px;
}
.texto {
    font-size: 17px !important;
    font-weight: 800 !important;
}
